@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
}

.only_mobile {
  display: block;
}

.only_desktop {
  display: none;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 5px;
}

[additional_text] {
  font-size: 0.8em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}

body {
  background-image: url("../../img/mosogep_hatter.png");
  background-color: white;
  background-attachment: fixed;
  background-repeat: repeat-y;
  -webkit-transition: 0s linear;
  transition: 0s linear;
  -webkit-transition-property: background-position;
  transition-property: background-position;
  background-position: 50% 0;
  background-size: cover;
  scroll-behavior: smooth;
}

.normal_button {
  float: none;
  text-align: center;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
}

#header {
  padding: 10px;
  background-color: black;
  opacity: 0.7;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.6;
}

#header > div {
  opacity: 1;
}

#bejelentes iframe {
  min-height: 350px;
}

.centered {
  text-align: center;
}

#footer {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.6;
  margin-top: 50px;
  background-color: black;
  width: 100%;
  text-align: center;
}

[id*="_content"] {
  color: white;
  text-align: center;
  opacity: 0.7;
  padding: 2px;
  margin: 10px;
}

iframe {
  width: 100%;
  border-style: none;
  overflow-y: hidden;
}

#logo {
  opacity: 1;
  width: 35px;
}

.menu_button {
  opacity: 1;
  color: white;
  font-size: 22px;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu_button:hover {
  background-color: black;
  opacity: 1;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

a, a:visited {
  color: white;
  text-decoration: none;
}

.menu {
  text-align: center;
  opacity: 1;
}

#page_name {
  margin: 0px;
  opacity: 1;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.6;
}

#home_content {
  color: white;
}

#home_content h1 {
  color: black;
}

.card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  padding: 5px;
  background-color: none;
  opacity: 1;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 30px;
  background-color: black;
  width: 200;
  height: 200;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 30px;
  opacity: 0.7;
  margin: 10px;
}

.card div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

[class*="mobile_menu"], #mobile_menu_button {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
}

#menu_button {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2, .menu_button {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .only_desktop {
    display: block;
  }
  .only_mobile {
    display: none;
  }
  .card {
    width: 400px;
    height: 400px;
  }
  .card_container {
    margin-top: 100px;
  }
  #up_nav {
    width: 100px;
  }
  section {
    width: 100%;
    height: 100vw;
  }
  #home_content h1 {
    margin: 50px 0 30px 0;
  }
  .card div {
    font-size: 1.5em;
  }
}

section {
  width: 100%;
  margin-top: 40px;
  float: left;
}
/*# sourceMappingURL=style.css.map */