@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import "variables";
@import "animations";
@import "mixins";
@import "misc";



*{
    box-sizing: border-box;
    font-family: $defaultFontFamily;
}
body{
    background-image: url("../../img/mosogep_hatter.png");
    background-attachment: fixed;
    background-repeat: repeat-y;
    transition: 0s linear;
    transition-property: background-position;
    background-position: 50% 0;   
    background-size: cover;

}  
.normal_button{
    float: none;
    text-align: center;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $SecFontColor;
    background-color:  black;
}
#header{
    @include normalDiv(rgb(0, 0, 0),0.7 , 10px ); 
    @include fontProperties($color: rgb(255, 255, 255));
}
#header > div {
    opacity: 1;
}
#bejelentes iframe{
    min-height:600px;
}
.centered{
    text-align: center;
}
#footer {
    @include fontProperties($color: $SecFontColor);
    margin-top: 50px;
    background-color: black;
    width: 100%;
    text-align: center;
    
}
[id$="_content"]{
    background-color: $mainFontColor;
    color: white;
    word-wrap: break-word;
    text-align: left;
    opacity: 0.7;
    padding: 15px;
    margin: 10px;
    width: 97%;
}
iframe {
    width: 100%;
    border-style: none;
    // min-height: 500px;
    overflow-y : hidden;
}
#logo{
    opacity: 1;
    width:35px;
}
.menu_button{
    opacity: 1;
    color: $SecFontColor;
    font-size: 22px;
    vertical-align: middle;
    align-self: center;
}
.menu_button:hover{
    background-color: $mainFontColor;
    opacity: 1;
    filter: brightness(200%);
}
a, a:visited {
    color: $SecFontColor;
    text-decoration: none;
}
#home_text{
    position: relative;
    @include animations($name: comesFromTop, $duration: 2s);
}
.menu{
    text-align: center;
    opacity: 1;
}
#page_name{
    margin: 0px;
    opacity: 1;
    @include fontProperties($fontSize: 2em, $color: $SecFontColor, $font-weight: bold);
}
#home_content{
    color: $SecFontColor;
}
#home_content h1{
    color: $mainFontColor;
}
.card_container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: space-between;
     flex-wrap: wrap;
     
     
}
.card{
    @include borderedDiv($bg_color:black, $style: solid, $rad: 30px);
    @include animations($name: fadeIn, $duration: 2s);
    opacity: 0.7;
    width: 200;
    height: 200;
    color: $SecFontColor;
    text-align: center;
    display: flex;
    align-content:stretch;
    padding: 30px;
    
    margin: 10px;
}
.card div {
    align-self: center; 
    
}
#menu_button{
    width: 30px;
} 
section {
    width: 100%;
    margin-top: 40px;
    float: left; 
}

#up_nav{
    position: fixed; 
    right: 5px; 
    bottom: 5px;
    width: 50px;
}
@import "queries";
