@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: default;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: default;
  }
}

@-webkit-keyframes comesFromTop {
  0% {
    position: relative;
    top: -1000px;
  }
  100% {
    top: default;
  }
}

@keyframes comesFromTop {
  0% {
    position: relative;
    top: -1000px;
  }
  100% {
    top: default;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
}

.only_mobile {
  display: block;
}

.only_desktop {
  display: none;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 5px;
}

[class*="mob-"] {
  float: left;
  padding: 5px;
}

[additional_text] {
  font-size: 0.8em;
}

[nopadding] {
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-image: url("../../img/mosogep_hatter.png");
  background-attachment: fixed;
  background-repeat: repeat-y;
  -webkit-transition: 0s linear;
  transition: 0s linear;
  -webkit-transition-property: background-position;
  transition-property: background-position;
  background-position: 50% 0;
  background-size: cover;
}

.normal_button {
  float: none;
  text-align: center;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: black;
}

#header {
  padding: 10px;
  background-color: black;
  opacity: 0.7;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.6;
}

#header > div {
  opacity: 1;
}

#bejelentes iframe {
  min-height: 600px;
}

.centered {
  text-align: center;
}

#footer {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  line-height: 1.6;
  margin-top: 50px;
  background-color: black;
  width: 100%;
  text-align: center;
}

[id$="_content"] {
  background-color: black;
  color: white;
  word-wrap: break-word;
  text-align: left;
  opacity: 0.7;
  padding: 15px;
  margin: 10px;
  width: 97%;
}

iframe {
  width: 100%;
  border-style: none;
  overflow-y: hidden;
}

#logo {
  opacity: 1;
  width: 35px;
}

.menu_button {
  opacity: 1;
  color: white;
  font-size: 22px;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu_button:hover {
  background-color: black;
  opacity: 1;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}

a, a:visited {
  color: white;
  text-decoration: none;
}

#home_text {
  position: relative;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.menu {
  text-align: center;
  opacity: 1;
}

#page_name {
  margin: 0px;
  opacity: 1;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.6;
}

#home_content {
  color: white;
}

#home_content h1 {
  color: black;
}

.card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  padding: 5px;
  background-color: none;
  opacity: 1;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  background-color: black;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  opacity: 0.7;
  width: 200;
  height: 200;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 30px;
  margin: 10px;
}

.card div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#menu_button {
  width: 30px;
}

section {
  width: 100%;
  margin-top: 40px;
  float: left;
}

#up_nav {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 50px;
}

@media screen and (min-width: 767px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2, .menu_button {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .only_desktop {
    display: block;
  }
  .only_mobile {
    display: none;
  }
  .card {
    width: 400px;
    height: 400px;
  }
  .card_container {
    margin-top: 100px;
  }
  section {
    width: 100%;
    height: 100vw;
  }
  #home_content h1 {
    margin: 50px 0 30px 0;
  }
  .card div {
    font-size: 1.5em;
  }
  #up_nav {
    width: 100px;
    height: 100px;
  }
  .tel_header {
    font-weight: bold;
    font-size: 1.1em;
  }
  #home_text {
    top: 50px;
  }
}

@media screen and (max-width: 400px) {
  .mob-1 {
    width: 8.33%;
  }
  .mob-2 {
    width: 16.66%;
  }
  .mob-3 {
    width: 25%;
  }
  .mob-4 {
    width: 33.33%;
  }
  .mob-5 {
    width: 41.66%;
  }
  .mob-6 {
    width: 50%;
  }
  .mob-7 {
    width: 58.33%;
  }
  .mob-8 {
    width: 66.66%;
  }
  .mob-9 {
    width: 75%;
  }
  .mob-10 {
    width: 83.33%;
  }
  .mob-11 {
    width: 91.66%;
  }
  .mob-12 {
    width: 100%;
  }
  .mobile_menu {
    width: 100%;
  }
  .card {
    padding: 15px;
  }
}
/*# sourceMappingURL=style.css.map */