@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import "variables";
@import "misc";
@import "mixins";



#mainbody{
    background-image: url("../../img/mosogep_hatter.png");
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}  

#header{
    @include normalDiv(rgb(0, 0, 0),0.7 , 10px ); 
    @include fontProperties($color: rgb(255, 255, 255));
}
#header > div {
    opacity: 1;
}
.centered{
    text-align: center;
}
#footer {
    @include fontProperties($color: $SecFontColor);
    margin-top: 50px;
    background-color: black;
    width: 100%;
    text-align: center;
    
}
iframe {
    width: 100%;
    border-style: none;
    // min-height: 500px;
    overflow-y : hidden;
}
#logo{
    opacity: 1;
    width:35px;
}
.menu_button{
    opacity: 1;
    color: $SecFontColor;
    font-size: 22px;
    vertical-align: middle;
    word-wrap: break-word;
}
.menu_button:hover{
    background-color: $mainFontColor;
    opacity: 1;
    filter: brightness(200%);
}
a, a:visited {
    color: $SecFontColor;
    text-decoration: none;
}

.menu{
    text-align: center;
    opacity: 1;
    // display: flex;
    // flex-wrap: wrap;
    // align-items: baseline;
    // justify-content: space-between;
}
#page_name{
    margin: 0px;
    opacity: 1;
    @include fontProperties($fontSize: 2em, $color: $SecFontColor, $font-weight: bold);
}
#home_content{
    color: $SecFontColor;
}
#home_content h1{
    
    color: $mainFontColor;
}
.card_container{
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: space-between;
     flex-wrap: wrap;
     
}
.card{
    @include borderedDiv($bg_color:black, $style: solid, $rad: 30px);
    width: 400px;
    height: 400px;
    color: $SecFontColor;
    text-align: center;
    padding: 30px;
    opacity: 0.7;
    margin: 10px;
}
[class*="mobile_menu"]{
    color: $SecFontColor;
    text-align: center;
    padding: 5px;
}

#mobile_menu_button{
    @extend [class*="mobile_menu"];
}
@import "queries";