$mainFontColor : rgb(0, 0, 0);
$SecFontColor : rgb(255, 255, 255);
$mainFontsize: 14px;  
$defaultPadding: 5px;
$defaultLineHeight: 1.6;
$defaultHeadingFontFamily: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$defaultFontFamily: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
$defaultBoxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);